.header{
    padding-left:20px;
  background-color: #F8F8FF ;
  height: 109px;
  color: #87CEEB;
}
.header-logo{
  font-size: 55px;
    font-family: "Yu Mincho";
    float: left;
    padding: 20px 20px 20px 20px;
    color: #00BFFF;
}
.tp{padding-bottom: 30px;
}
.tiMok{
    padding-left:30px;
}
.mokuji {
    background: #f3fbff;
    border: 2px skyblue dashed;
    padding-bottom: 200px;
    padding-top:10px;
}
.empty{
    padding-bottom:60px;
}

.main{
    padding-top:40px;
  padding-left: 80px;
  padding-right:80px;
  /*padding-right: 396px;*/
  padding-bottom: 70px;
}
.catch {
    padding-bottom: 20px;
    font-size: 25px;
}
#t1 {
    padding-top: 20px;
    padding-left: 10px;
    border-bottom: 1px double #333;
    background: linear-gradient(transparent 70%, #00bfff 70%);
    width: 370px;
    font-size: 130%;
}
.cc12,.cc13 {   padding-top: 20px;}

#t2 {
    padding-top: 20px;
    padding-left: 10px;
    border-bottom: 1px double #333;
    background: linear-gradient(transparent 70%, #00bfff 70%);
    width: 400px;
    font-size: 130%;
}
.con1{
    padding-top: 20px;
}
.con2{
    padding-top:20px;
}
.r1 { padding-left:20px;
      padding-top:30px;
}
.r11,.r12,.r21,.r22,.r23, .t3-con,.r3-con{
    padding-top: 40px;
}
.r2 {
    padding-left: 20px;
    padding-top: 30px;
}
.r3 {
    padding-left: 20px;
    padding-top: 30px;
}

.r1-con{  padding-left:80px;
}
.r2-con {
    padding-left: 80px;
}
.r3-con { padding-left: 80px; }

#t3{
    padding-top: 20px;
    padding-left: 10px;
    border-bottom: 1px double #333;
    background: linear-gradient(transparent 70%, #00bfff 70%);
    width: 480px;
    font-size: 130%;
}
#t4 {
    padding-top: 20px;
    padding-left: 10px;
    border-bottom: 1px double #333;
    background: linear-gradient(transparent 70%, #00bfff 70%);
    width: 500px;
    font-size: 130%;
}

#d1 {
    padding-top: 20px;
    padding-left: 10px;
    border-bottom: 1px double #333;
    background: linear-gradient(transparent 70%, #ff6347 70%);
    width: 350px;
    font-size: 130%;
}
#d2 {
    padding-top: 20px;
    padding-left: 10px;
    border-bottom: 1px double #333;
    background: linear-gradient(transparent 70%, #ff6347 70%);
    width: 350px;
    font-size: 130%;
}
#d3 {
    padding-top: 20px;
    padding-left: 10px;
    border-bottom: 1px double #333;
    background: linear-gradient(transparent 70%, #ff6347 70%);
    width: 430px;
    font-size: 130%;
}
#d4 {
    padding-top: 20px;
    padding-left: 10px;
    border-bottom: 1px double #333;
    background: linear-gradient(transparent 70%, #ff6347 70%);
    width: 390px;
    font-size: 130%;
}
.d11, d12,.d12, .d2-con, .d3-con, .d4-con, .t4-con{
    padding-top:20px;
}
.footer {
    background-color: #F8F8FF;
    float: left;
    padding-left: 20px;
}
.Author{
  font-size: 21px;
  border-top: 1px solid #333;

}
.Manager {
    font-size: 21px;

}

.intro{
  font-family: serif;
  font-size: 12px;
  font-size: 12px;
  float:left;
  padding-right: 520px;
}
.Author span{
  color:#00BFFF;
}
.Manager span {
    color: #00BFFF;
}

.header h1{
  font-family: serif;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 300px;

}


li{
  font-size: 22px;
  list-style: none;
  font-family: serif;
  float: left;
  padding-left: 40px;
  padding-right: 30px;
}
